

html{
    box-sizing: border-box;
  }
  
  *, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  html,
  body{
    height: 100%;
  }
  

  ul{
    list-style-type: none;
  }
  
  a{
    text-decoration: none;
    color: inherit;
  }
  
  .section-title{
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
  }


  
  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    background-color: #191A19;
  
  }
  
  .header{
    background-color: #151515;
  }
  
  h1{
    color:#FBCB0A;
    text-shadow: 1px 1px black;
    }
  .header-main{
    background-color: transparent;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
  }
  

.navbar-brand {
    color:#FBCB0A;
    font-size: 50px ;
    text-shadow: 2px 2px black;

}
  .header__inner{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .menu__list{
    display: flex;
    gap: 100px;
  }
  
  .menu__list-link{
    color: #FBCB0A;
    text-transform: uppercase;
    font-size: 23px;
    text-shadow: 1px 1px black;
  }
  

   .menu__list-link:hover, .navbar-brand:hover{
    color: #FBCB0A;
  }


  
.main-img{
 
   background-image: url(gym.avif);
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}
.center{
    display: flex;
    justify-content: center;
}
.main-name{
    margin-top:150px;
    margin-left: 41%;
    position: absolute;
   

}

.top-p{
 
  color:#FBCB0A;
  text-shadow: 1px 1px black;
  font-size: 40px;
}

.top{
  color: #fff;
  text-align: center;
  padding-top: 250px;
  padding-bottom: 50px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;

}
.title{
  padding-bottom: 40px;
  font-size: 96px;
  font-weight: 700;
}

.swiper::after{
  content: '';
  background: rgba(21,21,21,.3);
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.swiper-slide{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.swiper-pagination-bullet {
  width: 120px;
  height: 3px;
  background-color: #151515;
  border-radius: 0;
  opacity: 1;
}


.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  margin: 0 15px;
}


.swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: 50px;
}

.swiper-pagination-bullet-active{
  height: 6px;
  background-color: #fff;
}

















.name{
    font-size: 90px;
}
.card-header{
    background-color: #FBCB0A;   
}
.card-header-name{
    font-weight: 700;
}
.card-body{
    background-color: #2c2a29;
}
.tarif-conditions{
    color:white;
}
.text-center{
    color:white; 
    text-shadow: 1px 1px black;
}


marquee{
    color:#FBCB0A; 
    font-size: 50px;   
}
.btn {
 background-color: #FBCB0A;
 color:black;
 border-color:black;
}
.btn:hover{
    background-color: #2C3333; 
}


.icon{
    color: #2C3333;
    font-size:20px ;
}



/* Section-cours */
.cours-img{
    max-width: 100%;
    box-shadow:3px 3px 3px 3px black ;
}
.cours-img:hover{
    transform: scale(1.05);
}
.cours{
    width: 500px;
    height: 500px;
}
.section-cours{
    display: flex;
    justify-content: space-around;
}


*, *:after, *:before { 
	 
	box-sizing: border-box; 
}
.clearfix:before, .clearfix:after { 
	content: ''; 
	display: table; 
}
.clearfix:after { 
	clear: both; 
}
.hover-text-one {
	overflow: hidden;
	margin: 0;
	width: 100%;
	list-style: none;
	text-align: center;
}
.hover-text-one figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	background: #527c82;
	text-align: center;
	cursor: pointer;
}
.hover-text-one figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}
.hover-text-one figure figcaption {
	padding: 2em;
	color: black;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.hover-text-one figure figcaption::before,
.hover-text-one figure figcaption::after {
	pointer-events: none;
}
.hover-text-one figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.hover-text-one figure h3 {
	word-spacing: -0.15em;
	font-weight: 300;
}
.hover-text-one figure h3 span {
	font-weight: 800;
}
.hover-text-one figure h3,
.hover-text-one figure p {
	margin: 0;
}
.hover-text-one figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}


figure.effect-text-three {
	background: #527c82;
}
figure.effect-text-three img {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(1.1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
figure.effect-text-three:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-text-three figcaption {
	text-align: left;
}
figure.effect-text-three h3 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}
figure.effect-text-three h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}
figure.effect-text-three:hover h3::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-text-three p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}
figure.effect-text-three:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
    
/* End of Section-cours */




/* Section-review */

.bd-placeholder-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}


.review-title{
  font-size: 18px;
}
.review-text{
  font-size: 16.5px;
}

/*End of Section-review*/





/*Footer*/
ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {

position: relative;
margin-top: 100px;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #FBCB0A;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 400;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background:#FBCB0A;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #FBCB0A;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #FBCB0A;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #FBCB0A;
  padding: 13px 20px;
  border: 1px solid #FBCB0A;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color:#FBCB0A;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #FBCB0A;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}
.icon{
  height: 30px;
  width: 30px;
}
